.container.margin-top50
  %h2.u-margin-bottom-md.text-center
    Join us

  .grid-layout.grid-layout3
    %a.tile-resource.grid-item{ href: "https://gitlab.com/users/sign_in" }
      .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-join-gitlab.png');" }
      .tile-info
        %h4.tile-title
          Join GitLab.com
        %p.tile-description
          Complete the online application to begin hosting and exploring projects.
        %p.tile-link
          Sign up
          %i.fas.fa-arrow-right

      %a.tile-resource.grid-item{ href: "/webcast/mission-mobility/" }
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            Mission Mobility: A DevSecOps Discussion Webcast
          %p.tile-description
            Learn how to improve your speed to market while ensuring your apps are secure and compliant.
          %p.tile-link
            Register now
            %i.fas.fa-arrow-right

      %a.tile-resource.grid-item{ href: "/demo/" }
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-demo.png');" }
        .tile-info
          %h4.tile-title
            GitLab Demo
          %p.tile-description
            Watch GitLab's 18-minutes product overview demo.
          %p.tile-link
            Watch now
            %i.fas.fa-arrow-right
